## Imports:
importFrom(SummarizedExperiment, SummarizedExperiment, assay, colData, rowData, rowRanges)
importFrom(GenomicRanges, seqnames, makeGRangesFromDataFrame)
importFrom(stats, as.dist, as.formula, setNames, predict, coef, pchisq, ecdf, 
           pnorm, quantile, sd, phyper, aggregate.data.frame, na.omit)
## IMPORTANT: In this package, use "stats::cor" instead of "cor" otherwise the "WGCNA::cor" is used by default.
importFrom(WGCNA, adjacency, pickSoftThreshold.fromSimilarity, TOMsimilarity, 
           blockwiseModules, cor, moduleEigengenes)
importFrom(grDevices, png, dev.off)
importFrom(graphics, axis, abline, title, legend, par, points, mtext, plot.new)
importFrom(survival, Surv, coxph, survreg, survdiff, survfit, survConcordance, concordance)
importFrom(igraph, make_full_graph, E, cluster_fast_greedy, membership)
importFrom(Pigengene, compute.pigengene, project.eigen, pheatmap.type, combine.networks, 
           check.pigengene.input, message.if, save.if, module.heatmap, gene.mapping,
           get.enriched.pw)
importFrom(Homo.sapiens, Homo.sapiens)
importFrom(glmnet, glmnet)
importFrom(caret, confusionMatrix)
importFrom(gplots, textplot)
##importFrom(TCGAbiolinks, GDCquery, GDCdownload, GDCprepare, GDCprepare_clinic, getResults)
importFrom(minfi, getAnnotation)
importFrom(utils, combn, capture.output, write.table, data, write.csv, head,
           stack, read.csv)
importFrom(matrixStats, colSds)
importFrom(Rfast, colMins) ## Returns the indices.
importFrom(tidyr, separate_rows)
importFrom(tidyselect, all_of)
importFrom(BiocStyle, latex)

## Exports:
exportPattern(accelFailAnalysis, bestInetgrator, computeEigengenes, computeInetgrator,
              computeUnion, coxAnalysis, filterLowCor, findAliveCutoff,
              findCore, makeNetwork, plotKM, findTcgaDuplicates,
              analyzeSurvival, prepareSurvival, plotLociTss, 
              plotLociNum, distanceToTss, sampleData,
              computeEigenloci, cleanAllData, preprocessDnam, iNETgrate,
              sample2atient, electGenes, inferEigengenes, createLocusGene) 
##downloaData needs to be adopted with non-legacy data.
